<p style="color: green"><%= notice %></p>

<%= render @voter %>

<div>
  <%= link_to "Edit this voter", edit_voter_path(@voter) %> |
  <%= link_to "Back to voters", voters_path %>

  <%= button_to "Destroy this voter", @voter, method: :delete %>
</div>
